.container {
  box-shadow: inset 0 0 20px blue;
  width: 90%;
  margin: 0 auto;
  padding: 0 2rem;
}

.title {
  font-size: var(--font-size-extra-large);
  font-weight: var(--font-weight-bold);
}

.btn {
  padding: 1rem 2rem;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  border-radius: 1rem;
}

.search-form {
  border-radius: 2rem;
  outline: 1.8px solid var(--color-gray-04);
  width: fit-content;
  padding: 0.8rem 1rem 0.8rem 2rem;
}

.search-form button {
  margin-left: 1rem;
}

.search-input {
  border-radius: 1.2rem;
  width: auto;
  min-width: 10rem;
  padding-right: 1.2rem;
  white-space: nowrap;
}

.user-input {
  background-color: var(--color-white);
  outline: 1px solid var(--color-gray-04);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.product-container {
  box-shadow: inset 0 0 20px purple;
}

.product-card {
  box-shadow: inset 0 0 20px green;
  /* display: flex; */
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 80%;
    padding: 0 2rem;
  }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .container {
    width: 100%;
  }
}
