.container {
  /* box-shadow: inset 0 0 20px blue; */
  width: 90%;
  margin: 0 auto;
}

.main-nav .router-link-active,
.main-nav .router-link-exact-active {
  font-weight: var(--font-weight-bold);
  background-color: var(--color-secondary-blue);
  color: var(--color-white);
  /* color:  */
}

.main-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-weight: var(--font-weight-regular);
  margin-top: 2rem;
  /* box-shadow: inset 0 0 20px red; */
  align-items: center;
  font-size: var(--font-size-mlarge);
}

.main-nav a {
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: var();
}

.err-msg {
  color: var(--color-error);
  transition: all 0.3s ease;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
}

.main-container {
  margin: 2rem 0;
  text-align: center;
}

.login-title {
  font-size: var(--font-size-extra-large);
  font-weight: var(--font-weight-medium);
}

.login-form {
  /* box-shadow: inset 0 0 20px red; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.login-input {
  /* box-shadow: inset 0 0 20px blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-input label {
  display: none;
}

.login-input input {
  width: 55rem;
  height: 6rem;
  padding: 2rem;
}

.login-form button {
  width: 55rem;
  height: 5rem;
  font-size: var(--font-size-mlarge);
}

.login-desc {
  display: flex;
  justify-content: center;
  gap: 1rem;
  line-height: 1;
}

.login-desc a {
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}

.main-title {
  text-align: center;
}

.title {
  font-size: var(--font-size-extra-large);
  font-weight: var(--font-weight-bold);
}

.btn {
  padding: 1rem 2rem;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  border-radius: 1rem;
}

.search-form {
  border-radius: 2rem;
  outline: 1.8px solid var(--color-gray-04);
  width: fit-content;
  padding: 0.8rem 1rem 0.8rem 2rem;
}

.search-form button {
  margin-left: 1rem;
}

.search-input {
  border-radius: 1.2rem;
  width: auto;
  min-width: 10rem;
  padding-right: 1.2rem;
  white-space: nowrap;
}

.user-input {
  background-color: var(--color-white);
  outline: 1px solid var(--color-gray-04);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.product-card {
  padding: 1rem;
  width: 22rem;
  height: 20rem;
  border-radius: 10px;
  border: 1px solid var(--color-gray-02);
  box-shadow: 0 0 5px var(--color-gray-02);
  background-color: var(--color-white);
}

.product-search {
  /* box-shadow: inset 0 0 20px lightsalmon; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: flex-start;
  width: 23%;
  border-right: 1px solid var(--color-gray-02);
}

.product-container {
  /* box-shadow: inset 0 0 20px purple; */
  display: flex;
  margin-top: 3rem;
  /* gap: 1rem; */
}

.product-list {
  /* box-shadow: inset 0 0 20px yellow; */
  flex-grow: 1;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
}

.product-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

.product-box div {
  width: 30rem;
}

.pagination {
  margin-top: 3rem;
  text-align: center;
  font-size: var(--font-size-mlarge);
}

.pagination .previous-icon img {
  transform: scale(-1);
}

.pagination button {
  margin: 0 1rem;
  padding: 0.5rem;
}

.pagination button:hover {
  border-radius: 50%;
  background-color: var(--color-secondary-beige);
}

.product-search-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: var(--font-weight-regular);
  gap: 0.5rem;
}

.select-container {
  margin-top: 1rem;
  flex-shrink: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  padding-left: 2rem;
}

.select-container label {
  font-weight: var(--font-weight-medium);
}

.select-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 0.3rem;
}

.map-button-container {
  margin: 1rem 0.5rem;
  display: flex;
}

.map-button-container button {
  display: block;
  margin: 1rem 0 1rem 1rem;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 10rem;
}
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media (max-width: 768px) {
  .container {
    width: 80%;
  }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}
